<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Podgląd obrazka SVG</title>
    <!-- Dodaj link do Bootstrapa -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        {% comment %} Powrót do listy {% endcomment %}
        <a href="/" class="btn btn-primary mb-3">Powrót do listy</a>

        {% if image %}
            <h1>Podgląd dla obrazka: {{ image.id }}</h1>
            <svg width="{{ image.width }}" height="{{ image.height }}" viewBox="{{ image.viewbox }}" version="{{ image.version }}" xmlns="{{ image.xmlns }}">
                {% for rect in image.rectangles.all %}
                    <rect x="{{ rect.x }}" y="{{ rect.y }}" width="{{ rect.width }}" height="{{ rect.height }}" fill="{{ rect.fill }}" />
                {% endfor %}
            </svg>
        {% else %}
            <p>Podgląd nie jest dostępny</p>
        {% endif %}
    </div>

    <!-- Dodaj skrypty Bootstrapa -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-M2AxcsDBh1sVr5vzKR8ueaiM8dG6Ov/YOFrtasMaMAjWj6wrVpPhVDAI5EAiVTWl" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</body>
</html>
